{% extends "accounts/base.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form action="{% url 'authuser:password_reset' %}"method="post">
            {{form.as_p}}
            <p><input type="submit" value="Send e-mail"></p>
            {% csrf_token %}
            
        </form>
{% endblock %}

{% block style %}
    .data{
        width:90%;
        padding:10px;
        height:20px;
        border-top:0;
        border-inline:0;
        border-bottom:1px solid black;
        margin-top:30px auto;
        line-height:10px
    }
    input[type="submit"]{
        width:80%;
        
        margin-inline:10px auto;
       background-color:black;
        color:white;
        border-radius:5px;
        border:1px solid black;
        padding:10px;
    }
    input:focus{
        outline:none;
    }
    
{% endblock %}