{% extends "accounts/base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
        <span class="icon"><i class="fa-solid fa-lock"></i></span>
        <h1>
            Change Password
        </h1>
        <p>
            To change your password, please fill in the fields below.<br>
            Your password must contain at least 8 characters, it must also include at least
            one uppercase letter,one lowercase letter, one number and one special character
        </p>
        <div>
            <form action="" method="post">
                <div class="one">
                    {{form.old_password.label}}
                    {{form.old_password}}
                <span class="eyeopen"><i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="two">
                    {{form.new_password1.label}}
                    {{form.new_password1}}
                <span class="eyeopen"><i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div class="three">
                    {{form.new_password2.label}}
                    {{form.new_password2}}
                <span class="eyeopen"><i class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <input type="submit" value="Change password">
                
            </form>
        </div>
{% endblock %}

{% block style %}
      *{
          font-family: "Nunito", sans-serif;
          font-weight: 600;
          
        }
        body{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        input{
            min-width: 55%;
            min-height: 38px;
            border-radius: 10px;
            border: 1px solid black;
            padding: auto 10px;
            display: block;
            

        }
        label{
            display: block;
            margin-top: 28px;
            margin-bottom: 5px;
        
        }
        input[type='submit']{
            margin-top: 20px;
            background-color: black;
            color: white;
            min-width: 55.5%;
            min-height:70px auto
        }
        .eyeopen{
            position: absolute;
            top:34.566456px;
            left: 52.76754535%;
        }
        
        .one{
            position: relative;
        }
        .two{
            position: relative;
        }
        .three{
            position: relative;
        }
        .fa-lock{
            font-size: 50px;
            color: black;
        }
        @media screen and (max-width:768px){
            input{
                width: 95%;
            }
            input[type='submit']{
                width: 97%;
            }
            .eyeopen{
                left:85%
            }
        }
{% endblock %}

{% block script %}
        document.querySelectorAll('.addpassword').forEach(element => {
            el.addEventListener('click',e => {
                let password= document.querySelectorAll('.addpassword')
            })
        })
{% endblock %}